langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-openai
langchain-text-splitters
langgraph

chromadb
rank-bm25
sentence-transformers
transformers
torch

python-dotenv
numpy
pandas